@model IEnumerable<BookBorrowing.DATA.Models.Client>

@{
    ViewData["Title"] = "List";
}

<div class="align-content-between">
    <h2 class="text-white w-30 p-1">Lista de Clientes &nbsp; <a asp-action="Create" class="btn btn-outline-primary p-7">Adicionar</a></h2>
    <br></br>
</div>

<table id="ClientTable" class="table text-white">
    <thead>
        <tr class="align-content-between">
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="fs-5 align-middle">
                <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ClientCpf)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.CellNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.IdClient">Editar</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.IdClient">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts
    {
    <script>

        let ClientTable = new DataTable('#ClientTable', {
            "language":
            {
                "lengthMenu": "Mostrar  _MENU_  por página",
                "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
            }
        });

    </script>
    }